body{
    text-align: center;
}
#container{
    width: 100%;
    height:100%;
    display: flex;
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 400px;
}

#dirtbox {
    width: 500px;
    height: 500px;
    background-color: rgb(55, 31, 165);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    border: solid 10px rgb(18, 12, 71);
}
.mole{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: gray;
    background-image: url("https://archive.fo/AbHSb/5323cecddb98416898436186c268e4bd06b20c51.jpg");
    background-position: center; 
    background-size: 80px;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.dirt{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:   rgb(38, 0, 255);
    border: solid 10px rgb(18, 12, 71);
}